<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PageNotFound</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PageNotFound</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="router.navigate(['home'])">VOLVER A INICIO</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>