<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="regresar()">REGRESAR</ion-button>
    </ion-buttons>
    <ion-title>VENTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ventas</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-grid>
      <ion-row *ngIf="ticket_productos.length > 0">
        <!--<ion-col>ID</ion-col>-->
        <ion-col>Artículo</ion-col>
        <ion-col>Cantidad</ion-col>
        <ion-col>Precio Unitario</ion-col>
        <ion-col>Eliminar</ion-col>
      </ion-row>
      <ion-row *ngFor="let producto of ticket_productos; index as i">
        <!--<ion-col>
          <ion-card>
            <ion-card-content>
              {{producto.id_producto}}
            </ion-card-content>
          </ion-card>
        </ion-col>-->
        <ion-col class="columna-nombre">
          <ion-card>
            <ion-card-content>
              {{producto.nombre}}
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-input type="number" [(ngModel)]="producto.unidades" min="1" errorText="Entrada Inválida" value="{{producto.unidades}}" (ionChange)="actualizarSubtotal()"></ion-input>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="columna-precio">
          <ion-card>
            <ion-card-content>
              <p>${{producto.precio}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="quitarProducto(i)" style="height: 100%">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="ticket_productos.length > 0">
        <ion-col>
          <p>Sub Total</p>
        </ion-col>
        <ion-col>
          <p>${{sub_total}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-input label="Producto" formControlName="id"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="auto">
        <ion-button type="submit" [disabled]="!productoForm.valid" style="height: 100%">Agregar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="producto_inexistente">
      <ion-col style="text-align: center;">
        <ion-card>
          <ion-card-content size="auto">
            <p style="color: red; text-decoration: solid;">Error: Producto Inexistente</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </form>
  <ion-row style="text-align: center;">
    <ion-col>
      <ion-button [disabled]="ticket_productos.length<1" (click)="ticket_productos = []">Cancelar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [disabled]="ticket_productos.length<1" (click)="realizarVenta()">Realizar Venta</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
