<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Novedades Katy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Novedades Katy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Punto de Venta</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button (click)="router.navigate(['ventas'])">
                  ACCEDER
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Inventario</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="router.navigate(['inventario'])">
                ACCEDER
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="firebase.admin">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Administrar Usuarios</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="goToUsuarios()">
                ACCEDER
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Reportes de Ventas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button (click)="goToReportes()">ACCEDER</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
