<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="router.navigate(['home'])">REGRESAR</ion-button>
    </ion-buttons>
    <ion-title>INVENTARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inventario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="true" (click)="router.navigate(['buscar-producto'])">BUSCAR PRODUCTO</ion-button>
        </ion-col>
        <ion-col>
          <ion-button *ngIf="this.firebase.admin" (click)="router.navigate(['producto-nuevo'])">
            Nuevo Producto
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="productos.length > 0">
      <ion-row *ngFor="let producto of productos; index as i">
          <ion-col *ngIf="i < productos_por_pagina * pagina_actual && i >= productos_por_pagina * (pagina_actual - 1)">
            <ion-row>
              <ion-col style="text-align: center;">
                <ion-row>
                  <ion-col>
                    <p>ID: {{codigos_productos[i]}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Producto: {{producto['nombre']}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Precio: $ {{producto['precio']}} MXN</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p>Unidades: {{producto['unidades']}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col>
                <img src="" alt="Imagen del Producto">
              </ion-col>
              <ion-col size="auto">
                <ion-button class="product-container" (click)="crearCodigoDeBarras(i)">GENERAR ETIQUETA</ion-button>
              </ion-col>
            </ion-row>
            <!--<ion-button class="product-container" (click)="crearCodigoDeBarras(i)">
              <ion-grid>
                <ion-row><p>ID: {{codigos_productos[i]}}</p></ion-row>
                <ion-row><p>Producto: {{producto['nombre']}}</p>  </ion-row>
                <ion-row><p>Precio: $ {{producto['precio']}} MXN</p></ion-row>
              </ion-grid>
              
              
              
              <p>{{producto['descripcion']}}</p>
            </ion-button>-->
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="router.navigate(['inventario', 1])" [disabled]="pagina_actual <= 1">
            PRIMERA PÁGINA
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="router.navigate(['inventario', math.max(pagina_actual - 1, 1)])" [disabled]="pagina_actual <= 1">
            ANTERIOR
          </ion-button>
        </ion-col>
        <ion-col>
          <p>{{pagina_actual}}</p>
        </ion-col>
        <ion-col>
          <ion-button (click)="router.navigate(['inventario', math.min(pagina_actual + 1, ultima_pagina)])" [disabled]="pagina_actual >= ultima_pagina">
            SIGUIENTE
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="router.navigate(['inventario', ultima_pagina])" [disabled]="pagina_actual >= ultima_pagina">
            ÚLTIMA PÁGINA
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>